.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .container{
    margin-top: -650px;
  }
  .text {
    flex: 1;
  }
  
  .image {
    flex: 1;
    text-align: center; 
    margin-top: 80px;
  }
  
  img {
    max-width: 98%;
    height: auto;
  }