.Register-form {
    width: 732px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin: 50px auto 0; /* Center the form horizontally and adjust top margin */
  }
  
  .form-input {
    width: 100%;
    height: 57px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
  }
  
  .submit-btn {
    width: 161px;
    height: 57px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
  }
  
  .submit-btn:hover {
    opacity: 1;
  }
  .Register-form{
    margin-top: -450px;
  }